<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/adminlte.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/fontawesome-free/css/all.min.css"
    />
  </head>
  <body>
    <div class="full-screen-img">
      <img src="/images/error.png" alt="image error" />
      <h1>Page Not fault</h1>
    </div>
  </body>
</html>
